extends layout

block content
  #background(style="background-image: url('" + album_art_url + "')")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/jquery.knob.js")
  script(src="/javascripts/client.js")
  #wrap
    #searchwrap
        #searchbox
            input(type="text" placeholder="Search Tracks")
            a#search_clear.fa.fa-close(href="#")
        #searchresults


    #current(style="background-image: url('" + album_art_url + "')")
        #volumewrap
            input#volume(class="dial", type="text", value=client.volume)

        #current_title

            #current_name= current.name
            #current_artist= current.artists[0].name

            #status
              if next_state == "pause"
                a#statusChange.fa.fa-pause(href="#", data-play=play_state, data-id=client.key)
              else
                a#statusChange.fa.fa-play(href="#", data-play=play_state, data-id=client.key)
              a.fa.fa-step-forward#next(href="#", data-id=client.key)



    ol#queue
      each track, i in queue
        li.track
          .albumart
            img(src=track.track.album.images[2].url)
          .trackname= track.track.name
          .artistname= track.track.artists[0].name