doctype
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name="description" content="QueueUp is a social music app that lets your party decide what to play")
    meta(name="keywords" content="QueueUp, music, playlist, android, ios, stream, spotify")

    meta(property="og:title" content="#{title} - QueueUp")
    meta(name="description" content="QueueUp is a social music app that lets your party decide what to play")
    meta(property="og:image" content="http://queueup.io/images/queueup_cover.png")
    meta(property="fb:app_id" content="737070926399780")

    title #{title} - QueueUp
    
    link(rel="stylesheet" href="/styles/layout.css")
    link(rel="stylesheet" href="/styles/font-awesome.css")
    //link(rel="stylesheet" href="/styles/bootstrap.css")
  body
    #wrap
      .page_header
        .playlist_nav
          a.nav_home(href='/home')
        
        .page_title #{title}

        .user_nav

          if typeof(user) == "undefined"
            a.user_header(href='/user')= "Log in with Facebook"
          else
            | 
            a.user_header(href='/user')= user.name
            | . 
            a.user_header(href='/logout')= "Log out" 
            
      #app_alert.alert.alert-warning.alert-dismissable
        |Unfortunately, Spotify doesn't allow streaming
        |in web apps. Download our app on iOS or Android
        |to host a playlist!
        a.close(href="#" data-dismiss="alert" aria-label="close")="X"

      script(src="/javascripts/jquery.js")
      script(src="/javascripts/ga.js")
      script(src="/javascripts/bootstrap.js")
      script(src="/javascripts/layout.js")

      block content
