doctype
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name="description" content="QueueUp is a social music app that lets your party decide what to play")
    meta(name="keywords" content="QueueUp, spotify, music, playlist, android, ios, stream")

    meta(property="og:title" content="#{title} - QueueUp")
    meta(name="description" content="QueueUp is a social music app that lets your party decide what to play")
    meta(property="og:image" content="http://queueup.io/images/queueup_cover.png")
    meta(property="fb:app_id" content="737070926399780")

    title #{title} - QueueUp

    | <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    | <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    | <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    | <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    | <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    | <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    | <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    | <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    | <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    | <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    | <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    | <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    | <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    | <link rel="manifest" href="/manifest.json">
    | <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    | <meta name="apple-mobile-web-app-title" content="QueueUp">
    | <meta name="application-name" content="QueueUp">
    | <meta name="msapplication-TileColor" content="#3696ab">
    | <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    | <meta name="theme-color" content="#ffffff">
    
    link(rel="stylesheet" href="/styles/layout.css")
    link(rel="stylesheet" href="/styles/font-awesome.css")
    //link(rel="stylesheet" href="/styles/bootstrap.css")
  body
    #wrap
      .page_header
        .playlist_nav
          a.nav_home(href='/home')
        
        .page_title #{title}

        .user_nav

          if typeof(user) == "undefined"
            a.user_header(href='/user')= "Log in with Facebook"
          else
            | 
            a.user_header(href='/user')= user.name
            | . 
            a.user_header(href='/logout')= "Log out" 
            
      script(src="/javascripts/jquery.js")
      script(src="/javascripts/ga.js")
      script(src="/javascripts/bootstrap.js")
      script(src="/javascripts/layout.js")

      block content
