doctype
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    title #{title} - QueueUp
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/ga.js")
    link(rel="stylesheet" href="/styles/layout.css")
    link(rel="stylesheet" href="/styles/font-awesome.css")
  body
    #wrap
      .page_header
        .playlist_nav
          a.nav_home(href='/home')
        
        .page_title #{title}

        .user_nav

          if typeof(user) == "undefined"
            a.user_header(href='/user')= "Log in with Facebook"
          else
            | 
            a.user_header(href='/user')= user.name
            | . 
            a.user_header(href='/logout')= "Log out"
       
      block content

