extends layout

block content
  #background(style="background-image: url('" + album_art_url + "')")
  script.
    var playlistId="#{playlist._id}";
    var isAdmin=#{is_admin};
    var userId="#{(user) ? user._id : null}";
    var pretty=#{pretty};
  
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/jquery.knob.js")
  script(src="/javascripts/jquery-ui.js")
  script(src="/javascripts/touch-punch.js")
  script(src="/javascripts/client.js")

  #current(style="background-image: url('" + album_art_url + "')")
      
      // if !pretty && is_admin
      //   #volumewrap
      //     input#volume(class="dial", type="text", value=playlist.volume)

      #current_title

          #current_name= current_name
          #current_artist= current_artist

          if is_admin            
            #status
              if next_state == "pause"
                a#statusChange.fa.fa-pause(href="#", data-play=play_state, data-id=playlist.key)
              else
                a#statusChange.fa.fa-play(href="#", data-play=play_state, data-id=playlist.key)
              if !pretty
                a.fa.fa-step-forward#next(href="#", data-id=playlist.key)

          #playlist_progress
            div.progress_bar

  if !pretty
    if is_admin
      a.import_from_playlist(href="/playlist/#{playlist._id}/#{playlist.key}/import") Import from my playlists

    #searchwrap
      #searchbox
          input(type="text" placeholder="Search To Add Tracks")
          a#search_clear.fa.fa-close(href="#")
      #searchresults



  ul.listing#queue                
