extends layout

block content
  #wrap

    .page_header
      .playlist_nav
        a(href='/')
          .fa.fa-angle-left
          |  Go Home
      .user_nav
        if typeof(user) == "undefined"
          | Not logged in. 
          a.user_header(href='/user')= "Log in with Spotify"
        else
          | Logged in as 
          a.user_header(href='/user')= user.spotify.id
          | . 
          a.user_header(href='/logout')= "Log out"
          
    h2= "My Playlists"

    ul
      each playlist in playlists
        li
          a(href="/playlist/" + playlist.key)= playlist.name

    h2= "Create playlist"

    form#clientform(action="new" method="POST")
      .submitwrap
        input(type="text" name="playlist_name" placeholder="Name")
        input(type="submit" value="Create")
